.btn {
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 8% auto;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px 3px;
    height: 25px;
    width: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}
.btn:hover {
	background: #fff;
    color:#444;
}
.btn:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
