.weather {
    color: #ffffff;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
    margin-top: 40%;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 640px) {
    .weather {
        margin-top: 60%;
    }
}